body {
  font-family: Roboto, sans-serif;
}

h2 {
  font-family: Redressed, sans-serif;
  font-size: x-large;
  margin: 0;
}

.h2__centered{
  text-align: center;
  /* border: black solid 2px;*/
} 

p {
  margin: 0;
}

a {
  color: salmon;
}

a:hover {
  color: gray;
}

hr.fancyHR {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.image__Logo {
  max-width: 150px;
}

/*Testing git push again*/

header {
  background-color: white;
  /*border: black 1px solid;*/
  display: flex;
  align-items: center;
  height: 130px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

/*main content*/
.contentContainer {
  /* border: black 1px solid; */
  display: flex;
  border-radius: 5px;
  padding: 10px;
}

/* left side articles */
.containerLeft {
  background-color: lightsteelblue;
  /* border: black 1px solid; */
  flex-basis: 65%;
  border-radius: 5px;
  padding: 10px;
}

/* each left article  */
.contentArticle {
  /* border: black 1px solid; */ */
  margin-bottom: 10px;
}



/* ***********
FISH LEFT SIDE
*********** */

.containerLeft__fishList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* each individual fish card */
.fishCard {
  padding: 10px;
  margin: 5px;
  background-color: paleturquoise;
  width: 200px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  /* resize: both;
  overflow: auto; */
}

.fishCard:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.fishCard__name {
  font-weight: bolder;
  font-size: 20px;
}

.image__fishCards {
  max-width: 150px;
  border-radius: 5px 5px;
  align-content: center;
}

/* ***********
TIPS RIGHT SIDE
*********** */

/* tips right side */
.containerRight {
  background-color: plum;
  border-radius: 5px;
  margin-left: 10px;
  flex-grow: 1;
  /*border: black 1px solid;*/
  padding: 10px;
}

.tipCard__tipTitle {
/* font-weight: bolder; */
  font-size: 20px;
  /* padding: 10px; */
}

.tipCard__tipText{
  font-size: 15px;
  /* padding: 10px; */
  margin-bottom: 10px;
}


/* ***********
LOCATIONS LEFT SIDE
*********** */

/* location container flex   */
.containerLeft__travelLocations{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* each location  */
.locationCard {
  padding: 10px;
  margin: 5px;
  background-color: lightgoldenrodyellow;
  width: 100px;
  height:auto
  align-self: center;
  /*border: black 1px solid;*/
  padding: 10px;
}

.locationCard__name {
  font-weight: bold;
}

.locationCard__country {
font-style: italic;
}

.locationCard__name{
  font-weight: bolder;
  font-size: 20px;
}


/* ***********
QUOTES LEFT SIDE
*********** */

.quoteCard {
  padding: 10px;
}

.quoteCard__text{
  font-style: italic;
}


/* location container flex   */
.containerLeft__travelQuotes{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* each location  */
.quoteCard {
  padding: 10px;
  align-self: center;
  /*border: black 1px solid;*/
}

.quoteCard__text {
  font-weight: bold;
}



/* ***********
FOOTER BOTTOM
*********** */

.image__social {
  max-width: 35px;
}
